<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <h1><a class="brand" href="/site">HST Website</a></h1>
            <div class="nav-collapse">
              <ul class="nav pull-right">
                <li>
                  <form class="navbar-search form-search" action="/site/search" method="get">
                    <p>
                      <input type="text" name="query" class="search-query input-xlarge" placeholder="Search" required="required"/>
                      <button class="btn btn-primary inline" type="submit" value="Search">Search</button>
                    </p>
                  </form>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span2"></div>
  </div>
</div>